<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">About
          <strong>Mentor.Me</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-12" style="font-size: 18px !important;">
        <p>Mentor.Me is <strong>built and designed</strong> by students.</p>
        <p>Our mission is simple, we want to be able to make it as easy as possible to ask for help. No barriers of
          not being sure if the person will help or you don't know word a message.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
