<div class="row">
  <div class="col-xs-12">
    <h4>Recent Messages</h4>
    <div class="list-group">
      <div class="col-xs-12 col-sm-4" ng-repeat="question in newQuestions">
        <div class="list-group-item">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
              <h4 ng-bind="question.title"></h4>
            </div>
          </div>

          </br>

          <div class="row">
            <div class="col-xs-6">
              <div ng-bind="question.content"></div>
            </div>
          </div>

          </br>

          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <a ui-sref="profile.view({userId: user._id})"> <md-button class="md-raised">Pass</md-button> </a>
            </div>
            <a ui-sref="questions.view({questionId: question._id})"> <md-button class="md-raised" style="background-color:
                #00A000">View</md-button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <h4>Recommended Questions</h4>

    <div class="list-group">
      <div class="col-xs-12 col-sm-4" ng-repeat="question in newQuestions">
        <div class="list-group-item">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
              <h4 ng-bind="question.title"></h4>
            </div>
          </div>

          </br>

          <div class="row">
            <div class="col-xs-6">
              <div ng-bind="question.content"></div>
            </div>
          </div>

          </br>

          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <a ui-sref="profile.view({userId: user._id})"> <md-button class="md-raised">Pass</md-button> </a>
            </div>
            <a ui-sref="questions.view({questionId: question._id})"> <md-button class="md-raised" style="background-color:
                #00A000">View</md-button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
