<section ng-controller="QuestionsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="question.question.title"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="question.question.created | date:'mediumDate'"></span>
      by
      <span ng-bind="question.question.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="question.question.content"></p>

  <a ng-repeat="question in question.commentsSent.comments">
    <h4 class="list-group-item-heading" ng-bind="question.body"></h4>
  </a>

    <label for="comment">Add A Comment</label>
    <br>
    <div class="col-md-12">
      <form name="questionForm" class="form-horizontal" ng-submit="addComment()" novalidate>
        <fieldset>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="comment" ng-model="comment" id="comment" class="form-control" cols="1" rows="10"
                      placeholder="Content"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
</section>
