<div ng-controller="QuestionsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="question.question.title"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="question.question.created | date:'mediumDate'"></span>
      by
      <span ng-bind="question.question.user.displayName"></span>
    </em>
  </small>

  <div class="row">
    </br>
    <div class="col-xs-12">
      <div ng-if="question.question.user._id !== currentUser">
        <div ng-repeat="user in question.question.usersWhoUpvoted" ng-if="user === currentUser">
          <span style="color: #0000f6;" ng-click="alreadyVoted()" class="glyphicon glyphicon-chevron-up"
                disabled></span>
        </div>

        <div ng-repeat="user in question.question.usersWhoUpvoted" ng-if="user != currentUser">
          <span ng-click="upvote(question.question._id)" class="glyphicon glyphicon-chevron-up" disabled></span>
        </div>
      </div>
    </div>

    <div ng-if="question.question.user._id === currentUser">
      <span ng-click="ownerQuestion()" class="glyphicon glyphicon-chevron-up" disabled></span>
    </div>

    <script type="text/ng-template" id="firstDialogId">
      <div class="ngdialog-content">
        <div class="ngdialog-message">
          <p>You have already voted this question</p>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="ownerQuestion">
      <div class="ngdialog-message">
        <p>You cannot upvote your own question</p>
      </div>
    </script>


    <p class="lead" ng-bind="question.question.content"></p>

    <div class="col-xs-12">
      <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </div>

  </div>

  <div ng-repeat="question in question.commentsSent.comments">
    <h4 class="list-group-item-heading" ng-bind="question.body"></h4>
    </br>
  </div>

    <label for="comment">Add A Comment</label>
    <br>
    <div class="col-md-12">
      <form name="questionForm" class="form-horizontal" ng-submit="addComment()" novalidate>
        <fieldset>
          <div class="form-group">
            <input type="hidden" id="question" name="question" ng-bind="question.question" class="form-control">
            <label for="comment">Comment</label>
            <textarea name="comment" ng-model="comment" id="comment" class="form-control" cols="1" rows="10"
                      placeholder="Content"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
</div>
