<section>
  <div class="page-header">
    <h2>Mentor Search</h2>
  </div>
  <div class="page-header">
      <div class="row">
        <div class="col-xs-12">
          <nit-advanced-searchbox
            ng-model="searchParams"
            parameters="availableSearchParams">
          </nit-advanced-searchbox>
        </div>
      </div>
  </div>

  <div class="list-group">
    <div class="col-xs-12 col-sm-4" ng-repeat="user in pagedItems" >
      </br>
      <div  class="list-group-item">
        <h4 class="cust-list text-center">
          <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}"
               class="img-thumbnail img-circle user-profile-picture">
        </h4>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p class="rcorners2 text-center">{{user.profile.description}}</p>
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col-xs-1 col-xs-offset-1">
            <p class="glyphicon glyphicon-briefcase"></p>
          </div>
          <div class="col-xs-6">
            <div ng-repeat="experience in user.profile.experience | orderBy : endDate : true | limitTo:1">
              <p>{{experience.company}}</p>
            </div>
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col-xs-1 col-xs-offset-1">
            <p class="glyphicon glyphicon-education"></p>
          </div>
          <div class="col-xs-6">
            <div ng-repeat="education in user.profile.education | orderBy : endDate : true | limitTo:1">
              <p>{{education.schoolName}}</p>
            </div>
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col-xs-1 col-xs-offset-1">
            <p class="glyphicon glyphicon-bookmark"></p>
          </div>
          <div class="col-xs-1" ng-if="user.profile.helpsWith.cvChecked === true">
            Cv
          </div>
          <div class="col-xs-1" ng-if="user.profile.helpsWith.checkedInterviews === true">
            Interviews
          </div>
          <div class="col-xs-1" ng-if="user.profile.helpsWith.questionsChecked === true">
            Advice
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <a ui-sref="profile.view({userId: user._id})"> <md-button class="md-raised">Learn More</md-button> </a>
          </div>
          <div class="col-xs-12 col-sm-5" style="float: right;">
            <a ng-href="/users/{{user._id}}/messages"> <md-button class="md-raised" style="background-color:
            #00A000">Message</md-button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning text-center" ng-if="!pagedItems.length">
      No results found
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-xs-12">
      <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</section>
