<section class="container" ng-controller="DisplayUserProfileController">
  <div class="page-header">
    <h1 class=" themecolor">{{user.firstName}} {{user.lastName}}'s Profile </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <section>
            <fieldset>
              <div class="form-group text-center">
                <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}"
                     class="img-thumbnail img-circle user-profile-picture">
              </div>
            </fieldset>
        </section>
      </div>
      <div class="row">
          <div class="row">
            <div class="panel panel-default col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <md-input-container>
                    <label>Firstname</label>
                    <input style="color: #000000;" ng-model="user.firstName" size="50" disabled>
                  </md-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <md-input-container>
                    <label>Lastname</label>
                    <input ng-model="user.lastName" size="50" disabled>
                  </md-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <md-input-container>
                    <label>Location</label>
                    <input ng-model="user.profile.location" size="50" disabled>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row horizontal-center panel panel-default">
            <div class="col-sm-6">
              <label class="col-sm-10 section-heading horizontal-center">Description</label>
                        <textarea class="col-sm-push-1 col-sm-10 horizontal-center rcorners2"
                                  ng-model="user.profile.description" size="250" rows="3" disabled>
                        </textarea>
            </div>
            <div class="col-sm-6">
              <label class="col-sm-12 section-heading horizontal-center">Helps With</label>
              </br>
              <div class="col-sm-4">
                <input type="checkbox"
                       ng-model="user.profile.helpsWith.checkedInterviews" disabled> Interviews
              </div>
              <div class="col-sm-4">
                <input type="checkbox"
                       ng-model="user.profile.helpsWith.cvChecked" disabled> CV's
              </div>
              <div class="col-sm-4">
                <input type="checkbox"
                       ng-model="user.profile.helpsWith.questionsChecked" disabled> General Advice
              </div>
            </div>
          </div>
          <div class="row panel panel-default">
            <label class="col-xs-12 horizontal-center section-heading">Experience</label>
            <div class="row" ng-repeat="exp in user.profile.experience">
              <div class="col-sm-push-1 col-sm-3">
                <md-input-container>
                  <label>Company</label>
                  <input ng-model="exp.company" size="50" disabled>
                </md-input-container>
              </div>
              <div class="col-sm-push-2 col-sm-6">
                <md-input class="form-inline horizontal-center">
                  <label>From</label>
                  <md-datepicker ng-model="expD.sdt[$index].dt"
                                 ng-change="exp.startDate = expD.sdt[$index].dt.toISOString()" md-placeholder="Enter date" disabled></md-datepicker>
                </md-input>
                <md-input class="form-inline horizontal-center">
                  <label>To</label>
                  <md-datepicker ng-model="expD.edt[$index].dt"
                                 ng-change="exp.endDate = expD.edt[$index].dt.toISOString()"
                                 md-placeholder="Enter date" disabled></md-datepicker>
                </md-input>
              </div>
              <div class="col-sm-10 horizontal-center">

                <label class="control-label col-sm-push-1 col-sm-1 horizontal-center">Description</label>
                          <textarea class="col-sm-push-2 col-sm-6 rcorners2" ng-model="exp.description" size="1000"
                                    rows="5" disabled>
                          </textarea>
              </div>
            </div>
          </div>

          <div class="row panel panel-default">
            <label class="col-xs-12 horizontal-center section-heading">Education</label>
            <div ng-repeat="edu in user.profile.education">
              <div class="row">
                <div class="col-sm-push-1 col-sm-4 horizontal-center">
                  <md-input-container>
                    <label>School</label>
                    <input ng-model="edu.schoolName" size="50" disabled>
                  </md-input-container>
                </div>
                <div class="col-sm-push-1 col-sm-6 horizontal-center">
                  <md-input class="horizontal-center">
                    <label>From</label>
                    <md-datepicker ng-model="eduD.sdt[$index].dt"
                                   ng-change="edu.startDate = eduD.sdt[$index].dt.toISOString()" md-placeholder="Enter date" disabled></md-datepicker>
                  </md-input>
                  <md-input class="horizontal-center">
                    <label>To</label>
                    <md-datepicker ng-model="eduD.edt[$index].dt"
                                   ng-change="edu.endDate = eduD.edt[$index].dt.toISOString()" md-placeholder="Enter date" disabled></md-datepicker>
                  </md-input>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-push-1 col-sm-4 horizontal-center">
                  <md-input-container>
                    <label>Course Name</label>
                    <input ng-model="edu.courseTitle" size="50" disabled>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row panel panel-default">
            <label class="col-xs-12 section-heading horizontal-center">Awards</label>
            <div ng-repeat="awd in user.profile.awards">
              <div class="row">
                <div class="col-sm-push-1 col-sm-4 horizontal-center">
                  <md-input-container>
                    <label>Title</label>
                    <input ng-model="awd.title" size="50" disabled>
                  </md-input-container>
                </div>
                <div class="col-sm-push-1 col-sm-6 horizontal-center">
                  <label class="horizontal-center">Description</label>
                      <textarea class="horizontal-center rcorners2" ng-model="awd.description" size="200" cols="50" disabled>
                      </textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-push-1 col-sm-4 horizontal-center">
                  <md-input-container>
                    <label>Issuer</label>
                    <input ng-model="awd.issuer" size="50" disabled>
                  </md-input-container>

                </div>
                <div class="col-sm-push-1 col-sm-4 horizontal-center">
                  <md-input>
                    <label>Date</label>
                    <md-datepicker ng-model="awardD.sdt[$index].dt"
                                   ng-change="awd.endDate = awardD.sdt[$index].dt.toISOString()" md-placeholder="Enter date" disabled></md-datepicker>
                  </md-input>
                </div>
              </div>
            </div>
          </div>

          <div class="row panel panel-default">
            <label class="col-xs-12 section-heading horizontal-center">Interests</label>
            <div class="row" ng-repeat="activity in user.profile.interests">
              <div class="col-sm-push-3 col-sm-4">
                <md-input-container>
                  <label>Interest</label>
                  <input ng-model="activity.interest" size="50" disabled>
                </md-input-container>
              </div>
            </div>
          </div>

          <div class="row panel panel-default">
            <label class="col-xs-12 section-heading horizontal-center">Links</label>
            <div class="row" ng-repeat="link in user.profile.links">
              <div class="col-sm-push-3 col-sm-4">
                <md-input-container>
                  <label>Link</label>
                  <input ng-bind="link.url" size="50" disabled>
                </md-input-container>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
