<section class="container" ng-controller="MessagesController" ng-init="findMessages()">
  <div class="page-header">
    <h1 class="themecolor">Messages</h1>
  </div>

  <div ng-hide="authentication.user.roles[0] === 'mentor' && !showMessages || !messages.length">
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <div class="col-xs-12">
            <div ng-repeat="messages in messages">
              <div ng-show="showMessages._id === messages._id">
                <div class="row panel panel-default" style="padding-top: 10px !important;
              padding-bottom: 10px !important; background-color: lightgray" ng-click="find(messages._id)">
                  <div class="col-xs-3" style="padding-right: 12px; margin: 0 !important; width: auto;">
                    <div ng-if="messages.recipient._id === authentication.user.id">
                      <img style="min-height: 80px; max-height: 80px; width: 80px"
                           ng-src="{{messages.sender.profileImageURL}}"
                           alt="{{messages.sender.displayName}}"
                           class="img-thumbnail img-circle user-profile-picture">
                    </div>
                    <div ng-if="messages.sender._id === authentication.user.id">
                      <img style="min-height: 80px; max-height: 80px; width: 80px;"
                           ng-src="{{messages.recipient.profileImageURL}}"
                           alt="{{messages.recipient.displayName}}"
                           class="img-thumbnail img-circle user-profile-picture">
                    </div>
                  </div>
                  <div class="col-xs-7" style="padding: 0 !important; margin: 0 !important;">
                    <div class="col-xs-12" style="padding: 0 !important; margin: 0 !important;">
                      <div class="col-xs-7" style="padding: 0 !important; margin: 0 !important; font-weight: bold;">
                        <div ng-if="messages.recipient._id === authentication.user.id">
                          <div ng-bind="messages.sender.displayName"></div>
                        </div>
                        <div ng-if="messages.sender._id === authentication.user.id">
                          <div ng-bind="messages.recipient.displayName"></div>
                        </div>
                      </div>

                      <div class="col-md-5" style="padding: 0 !important; margin: 0 !important;">
                        <div ng-repeat="message in messages.messages |  orderBy : message.created : true | limitTo:1 ">
                          <span style="font-size: xx-small;" ng-bind="formatDate(message.created) | date:'dd/MM/yyyy'"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12" style="padding: 0 !important; margin: 0 !important;">
                      <div ng-repeat="message in messages.messages  | orderBy : message.created : true | limitTo:1">
                        <div style="overflow: hidden; text-overflow: ellipsis;" ng-bind="message.content"></div>
                      </div>
                    </div>

                    <div class="col-md-12" style="padding-left: 130px; padding-top: 20px;">
                      <div ng-click="removeConvo(messages)" class="glyphicon glyphicon-remove"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-show="showMessages._id !== messages._id">
                <div class="row panel panel-default" style="padding-top: 10px !important;
              padding-bottom: 10px !important;" ng-click="find(messages._id)">
                  <div class="col-xs-3" style="padding-right: 12px; margin: 0 !important; width: auto;">
                    <div ng-if="messages.recipient._id === authentication.user.id">
                      <img style="min-height: 80px; max-height: 80px; width: 80px"
                           ng-src="{{messages.sender.profileImageURL}}"
                           alt="{{messages.sender.displayName}}"
                           class="img-thumbnail img-circle user-profile-picture">
                    </div>
                    <div ng-if="messages.sender._id === authentication.user.id">
                      <img style="min-height: 80px; max-height: 80px; width: 80px;"
                           ng-src="{{messages.recipient.profileImageURL}}"
                           alt="{{messages.recipient.displayName}}"
                           class="img-thumbnail img-circle user-profile-picture">
                    </div>
                  </div>
                  <div class="col-xs-7" style="padding: 0 !important; margin: 0 !important;">
                    <div class="col-xs-12" style="padding: 0 !important; margin: 0 !important;">
                      <div class="col-xs-7" style="padding: 0 !important; margin: 0 !important; font-weight: bold;">
                        <div ng-if="messages.recipient._id === authentication.user.id">
                          <div ng-bind="messages.sender.displayName"></div>
                        </div>
                        <div ng-if="messages.sender._id === authentication.user.id">
                          <div ng-bind="messages.recipient.displayName"></div>
                        </div>
                      </div>

                      <div class="col-md-5" style="padding: 0 !important; margin: 0 !important;">
                        <div ng-repeat="message in messages.messages |  orderBy : message.created : true | limitTo:1 ">
                          <span style="font-size: xx-small;" ng-bind="formatDate(message.created) | date:'dd/MM/yyyy'"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12" style="padding: 0 !important; margin: 0 !important;">
                      <div ng-repeat="message in messages.messages  | orderBy : message.created : true | limitTo:1">
                        <div style="overflow: hidden; text-overflow: ellipsis;" ng-bind="message.content"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-9 col-xs-8">
          <div class="row panel panel-default">
            <div class="col-xs-12 wow bounceInUp">
              <div ng-repeat="conversation in showMessages.messages">

                <div ng-show="conversation.sender._id !== authentication.user.id">
                  <article class="message">
                    <div ng-repeat="messagesInConversation in conversation">
                      <div class="message__timestamp" style="font-weight: bold;" ng-bind="messagesInConversation.displayName"></div>
                    </div>
                    <div class="message__timestamp" ng-bind="formatDate(conversation.created) | date:'dd/MM/yyyy h:mm a'" ></div>
                    <div class="bubble" ng-bind="conversation.content"></div>
                  </article>
                </div>

                <div ng-show="conversation.sender._id === authentication.user.id">
                  <article class="message message--alt">
                    <div ng-repeat="messagesInConversation in conversation">
                      <div class="message__timestamp" style="font-weight: bold;" ng-bind="messagesInConversation.displayName"></div>
                    </div>
                    <div class="message__timestamp" ng-bind="formatDate(conversation.created) | date:'dd/MM/yyyy h:mm a'"></div>
                    <div class="bubble" ng-bind="conversation.content"></div>
                  </article>
                </div>
                <br>
              </div>
            </div>
              <div class="col-xs-12" style="padding-left: 60px !important; padding-right: 60px !important;">
                <form name="messageForm" class="form-horizontal" ng-submit="create(showMessages._id, messageForm.$valid)" novalidate>
                  <div class="form-group" show-errors>
                    <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10"
                              placeholder="New Message" required></textarea>
                    <div ng-messages="messageForm.content.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Message is required.</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-default">
                  </div>
                </form>
              </div>
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>
  </div>


  <div ng-show="authentication.user.roles[0] === 'mentor'">
    <div class="alert alert-warning text-center" ng-if="!messages.length">
      No messages yet!
    </div>
  </div>


  <div ng-show="authentication.user.roles[0] === 'student'">
    <div class="alert alert-warning text-center" ng-if="!messages.length">
      No messages yet, why don't you <a ui-sref="mentorSearch">find a mentor</a>?
    </div>
  </div>
</section>
