<section ng-controller="MessagesController" ng-init="findMessages()">
  <div class="page-header">
    <h1>Messages</h1>
  </div>
  <div class="row">
    <div class="col-xs-7 col-md-3">
      <div class="col-xs-12">
          <div ng-repeat="messages in messages">
            <div class="row panel panel-default" style="padding-top: 10px !important; padding-bottom: 10px !important;">
              <div class="col-xs-3" style="padding-right: 12px; margin: 0 !important; width: auto;">
                <div ng-if="messages.recipient._id === authentication.user.id">
                  <img style="min-height: 80px; max-height: 80px; width: 80px"
                       ng-src="{{messages.sender.profileImageURL}}"
                       alt="{{messages.sender.displayName}}"
                       class="img-thumbnail img-circle user-profile-picture">
                </div>
                <div ng-if="messages.sender._id === authentication.user.id">
                  <img style="min-height: 80px; max-height: 80px; width: 80px;"
                       ng-src="{{messages.recipient.profileImageURL}}"
                       alt="{{messages.recipient.displayName}}"
                       class="img-thumbnail img-circle user-profile-picture">
                </div>
              </div>
              <div class="col-xs-7" style="padding: 0 !important; margin: 0 !important;">
                <div class="col-xs-12" style="padding: 0 !important; margin: 0 !important;">
                  <div class="col-xs-7" style="padding: 0 !important; margin: 0 !important; font-weight: bold;">
                    <div ng-if="messages.recipient._id === authentication.user.id">
                      <div ng-bind="messages.sender.displayName"></div>
                    </div>
                    <div ng-if="messages.sender._id === authentication.user.id">
                      <div ng-bind="messages.recipient.displayName"></div>
                    </div>
                  </div>

                  <div class="col-md-5" style="padding: 0 !important; margin: 0 !important;">
                    <div ng-repeat="message in messages.messages | limitTo:1 | orderBy : message.created : true">
                      <span style="font-size: xx-small;" ng-bind="formatDate(message.created) | date:'dd/MM/yyyy'"></span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12" style="padding: 0 !important; margin: 0 !important;">
                  <div ng-repeat="message in messages.messages | limitTo:1 | orderBy : message.created : true">
                    <div style="overflow: hidden; text-overflow: ellipsis;" ng-bind="message.content"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row panel panel-default">
          <div class="col-xs-11" style="padding-left: 40px !important;">
            <form name="questionForm" class="form-horizontal" ng-submit="create()" novalidate>
              <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-default">
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>

  <!--<div class="row settings-view">
    <div ui-view></div>
  </div>-->
  <div class="alert alert-warning text-center" ng-if="messages.$resolved && !messages.length">
    No messages yet, why don't you <a ui-sref="mentorSearch">find a mentor</a>?
  </div>
</section>
