<section class="container">
  <section ng-controller="CareersController" ng-init="find()">
    <div class="page-header">
      <h1>Careers</h1>
    </div>
    <div class="list-group">
      <a ng-repeat="careers in careers" ui-sref="careers.view({careersId: careers._id})" class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="careers.created | date:'mediumDate'"></span>
          by
          <span ng-bind="careers.user.displayName"></span>
        </small>
        <h4 class="list-group-item-heading" ng-bind="careers.title"></h4>
        <p class="list-group-item-text" ng-bind="careers.company"></p>
      </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="careers.$resolved && !careers.length">
      No careers posted yet, why dont you post one? <a ui-sref="careers.create">create one</a>?
    </div>
  </section>
</section>



