<section ng-controller="EditProfileController">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <section ng-controller="ChangeProfilePictureController">
              <form class="signin form-horizontal">
                <fieldset>
                  <div class="form-group text-center">
                    <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail img-circle user-profile-picture">
                  </div>
                  <div class="text-center form-group" ng-hide="uploader.queue.length">
                    <span class="btn btn-default btn-file">
                        Select Image <input type="file" nv-file-select uploader="uploader">
                    </span>
                  </div>
                  <div class="text-center form-group" ng-show="uploader.queue.length">
                    <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
                    <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
                  </div>
                  <div ng-show="success" class="text-center text-success">
                    <strong>Profile Picture Changed Successfully</strong>
                  </div>
                  <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                </fieldset>
              </form>
          </section>
        </div>
        <div class="row">
          <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" autocomplete="off">
              <div class="row">
                  <div class="panel panel-default col-sm-8">
                      <div class="row">
                          <div class="col-sm-12">
                              <md-input-container>
                                <label>Firstname</label>
                                <input ng-model="user.firstName" size="50">
                              </md-input-container>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                            <md-input-container>
                              <label>Lastname</label>
                              <input ng-model="user.lastName" size="50">
                            </md-input-container>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                            <md-input-container>
                              <label>Location</label>
                              <input ng-model="user.profile.location" size="50">
                            </md-input-container>
                          </div>
                      </div>
                  </div>
                </div>


            <div class="col-xs-12">
              <div class="row panel panel-default">
                  <div class="col-sm-6">
                    <label class="col-sm-10 section-heading horizontal-center">Description</label>
                        <textarea class="col-sm-push-1 col-sm-10 horizontal-center rcorners2" ng-model="user.profile.description" size="250" rows="3">
                        </textarea>
                  </div>
                <div ng-hide="user.roles[0] === 'student'">
                  <div class="col-sm-6">
                    <label class="col-sm-12 section-heading horizontal-center">Helps With</label>
                    </br>
                    <div class="col-sm-4">
                      <input type="checkbox"
                             ng-model="user.profile.helpsWith.checkedInterviews"> Interviews
                    </div>
                    <div class="col-sm-4">
                      <input type="checkbox"
                             ng-model="user.profile.helpsWith.cvChecked"> CV's
                    </div>
                    <div class="col-sm-4">
                      <input type="checkbox"
                             ng-model="user.profile.helpsWith.questionsChecked"> General Advice
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="row panel panel-default" ng-if="user.roles === mentor">
                  <div class="col-sm-12">
                    <label class="col-sm-10 section-heading horizontal-center">Description</label>
                        <textarea class="col-sm-push-1 col-sm-10 horizontal-center rcorners2" ng-model="user.profile.description" size="250" rows="3">
                        </textarea>
                  </div>
                </div>
              </div>

              <div class="row panel panel-default">
                <label class="col-xs-12 horizontal-center section-heading">Experience</label>
                  <div class="row" ng-repeat="exp in user.profile.experience">
                    <div class="col-sm-push-1 col-sm-3">
                        <md-input-container>
                          <label>Company</label>
                          <input ng-model="exp.company" size="50">
                        </md-input-container>
                    </div>
                    <div class="col-sm-push-2 col-sm-6">
                        <md-input class="form-inline horizontal-center">
                          <label>From</label>
                          <md-datepicker ng-model="expD.sdt[$index].dt" ng-change="exp.startDate = expD.sdt[$index].dt.toISOString()" md-placeholder="Enter date"></md-datepicker>
                        </md-input>
                        <md-input class="form-inline horizontal-center">
                          <label>To</label>
                          <md-datepicker ng-model="expD.edt[$index].dt" ng-change="exp.endDate = expD.edt[$index].dt.toISOString()" md-placeholder="Enter date"></md-datepicker>
                        </md-input>
                    </div>
                    <div class="col-sm-10 horizontal-center">

                          <label class="control-label col-sm-push-1 col-sm-1 horizontal-center">Description</label>
                          <textarea class="col-sm-push-2 col-sm-6 rcorners2" ng-model="exp.description" size="1000" rows="5">
                          </textarea>
                          <div class="col-sm-push-3 col-sm-2">
                              <md-button ng-click="removeExperience($index)" class="md-raised md-warn">Remove</md-button>
                          </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                    </div>
                  <div class="horizontal-center">
                    <md-button ng-click="addNewExperience()" class="md-raised md-primary">Add New Experience</md-button>
                  </div>
              </div>

              <div class="row panel panel-default">
                  <label class="col-xs-12 horizontal-center section-heading">Education</label>
                  <div ng-repeat="edu in user.profile.education">
                    <div class="row">
                      <div class="col-sm-push-1 col-sm-4 horizontal-center">
                          <md-input-container>
                            <label>School</label>
                            <input ng-model="edu.schoolName" size="50">
                          </md-input-container>
                      </div>
                      <div class="col-sm-push-1 col-sm-6 horizontal-center">
                          <md-input class="horizontal-center">
                            <label>From</label>
                            <md-datepicker ng-model="eduD.sdt[$index].dt" ng-change="edu.startDate = eduD.sdt[$index].dt.toISOString()" md-placeholder="Enter date"></md-datepicker>
                          </md-input>
                          <md-input class="horizontal-center">
                            <label>To</label>
                            <md-datepicker ng-model="eduD.edt[$index].dt" ng-change="edu.endDate = eduD.edt[$index].dt.toISOString()" md-placeholder="Enter date"></md-datepicker>
                          </md-input>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-push-1 col-sm-4 horizontal-center">
                          <md-input-container>
                            <label>Course Name</label>
                            <input ng-model="edu.courseTitle" size="50">
                          </md-input-container>
                      </div>
                      <div class="col-sm-push-2 col-sm-6 horizontal-center">
                          <md-button ng-click="removeEducation($index)" class="md-raised md-warn">Remove</md-button>
                      </div>
                    </div>
                  </div>
                  <div class="horizontal-center">
                      <md-button ng-click="addNewEducation()" class="md-raised md-primary">Add New Education</md-button>
                  </div>
              </div>

              <div class="row panel panel-default">
                  <label class="col-xs-12 section-heading horizontal-center">Awards</label>
                  <div ng-repeat="awd in user.profile.awards">
                  <div class="row">
                    <div class="col-sm-push-1 col-sm-4 horizontal-center">
                      <md-input-container>
                        <label>Title</label>
                        <input ng-model="awd.title" size="50">
                      </md-input-container>
                    </div>
                    <div class="col-sm-push-1 col-sm-6 horizontal-center">
                      <label class="horizontal-center">Description</label>
                      <textarea class="horizontal-center rcorners2" ng-model="awd.description" size="200" cols="50">
                      </textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-push-1 col-sm-4 horizontal-center">
                      <md-input-container>
                        <label>Issuer</label>
                        <input ng-model="awd.issuer" size="50">
                      </md-input-container>

                    </div>
                    <div class="col-sm-push-1 col-sm-4 horizontal-center">
                      <md-input>
                        <label>Date</label>
                        <md-datepicker ng-model="awardD.sdt[$index].dt" ng-change="awd.endDate = awardD.sdt[$index].dt.toISOString()" md-placeholder="Enter date"></md-datepicker>
                      </md-input>
                    </div>
                    <div class="col-sm-1 horizontal-center">
                      <md-button ng-click="removeAward($index)" class="md-raised md-warn">Remove</md-button>
                    </div>
                  </div>
                  </div>
                  <div class="horizontal-center">
                    <md-button ng-click="addNewAward()" class="md-raised md-primary">Add New Award</md-button>
                  </div>
              </div>

              <div class="row panel panel-default">
                  <label class="col-xs-12 section-heading horizontal-center">Interests</label>
                  <div class="row" ng-repeat="activity in user.profile.interests">
                    <div class="col-sm-push-3 col-sm-4">
                        <md-input-container>
                          <label>Interest</label>
                          <input ng-model="activity.interest" size="50">
                        </md-input-container>
                    </div>
                    <div class="col-sm-push-3 col-sm-4 horizontal-center">
                      <md-button ng-click="removeInterest($index)" class="md-raised md-warn">Remove</md-button>
                    </div>
                  </div>
                  <div class="horizontal-center">
                    <md-button ng-click="addNewInterest()" class="md-raised md-primary">Add New Interest</md-button>
                  </div>
              </div>

              <div class="row panel panel-default">
                  <label class="col-xs-12 section-heading horizontal-center">Links</label>
                  <div class="row" ng-repeat="link in user.profile.links">
                    <div class="col-sm-push-3 col-sm-4">
                        <md-input-container>
                          <label>Link</label>
                          <input ng-model="link.url" size="50">
                        </md-input-container>
                    </div>
                    <div class="col-sm-push-3 col-sm-4 horizontal-center">
                      <md-button ng-click="removeLink($index)" class="md-raised md-warn">Remove</md-button>
                    </div>
                  </div>
                  <div class="horizontal-center">
                    <md-button ng-click="addNewLink()" class="md-raised md-primary">Add New Link</md-button>
                  </div>
              </div>

              <div class="im-centered">
                <div class="row">
                  <div class="col-xs-12 form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Save Profile</button>
                  </div>
                  <div ng-show="success" class="text-center text-success">
                    <strong>Profile Saved Successfully</strong>
                  </div>
                  <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
